#node-notes .container {
	width: auto;
}

#node-notes .brand {
	margin-left: 5%;
}

#node-notes .well {
	padding: 10px;
}

#node-notes .modal-backdrop {
	z-index: 1020;
}

#node-notes .navbar-inner {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#navigation > .dropdown {
	display: inline-block;
}

#new-note {
	display: none;
}

#list.adding #new-note {
	display: block;
}

#new-note .control-group {
	margin: 0;
}

#new-note .form-actions {
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

#new-note #note-body {
	width: 100%;
	margin-right: 10px;
}

#new-note .add {
	float: right;
}

#new-note .cancel {
	float: left;
	margin-left: 0;
}

#notes {
	list-style: none;
}

#notes .note {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	line-height: 30px;
}

#notes .note form {
	margin: 0;
	display: inline-block;
	margin-right: 10px;
}

#notes .note form button, #notes .note form button > * {
	margin: 0;
}

#notes .note .open-note {
	display: none;
}

#notes .note.closed {
	color: #27666D;
	display: none;
}

#list.show-closed .note.closed {
	display: block;
}

#notes .note.closed .close-note {
	display: none;
}

#notes .note.closed .open-note {
	display: inline-block;
}

#new-list {
	left: 50px;
	right: 50px;
	width: auto;
	margin-left: 0;
}

#new-list .modal-body {
	padding: 0;
	height: 110px;
}

#new-list form {
	margin-bottom: 0px;
}

#new-list input[name=name] {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	height: 25px;
	width: auto;

	font-size: 16px;
}

#new-list .add {
	padding: 10px;
	font-size: 14px;

	position: absolute;
	bottom: 10px;
	right: 10px;
}

#new-list .cancel {
	position: absolute;
	bottom: 10px;
	left: 10px;
}