#node-notes .container {
	width: auto;
}

#node-notes .brand {
	margin-left: 5%;
}

#node-notes .well {
	padding: 10px;
}

#navigation > .dropdown {
	display: inline-block;
}

#new-note {
	display: none;
}

#list.adding #new-note {
	display: block;
}

#new-note .control-group {
	margin: 0;
}

#new-note .form-actions {
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

#new-note #note-body {
	width: 100%;
	margin-right: 10px;
}

#new-note .add {
	float: right;
}

#new-note .cancel {
	float: left;
	margin-left: 0;
}

#notes {
	list-style: none;
}

#notes .note {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	line-height: 30px;
}

#notes .note form {
	margin: 0;
	display: inline-block;
	margin-right: 10px;
}

#notes .note form button, #notes .note form button > * {
	margin: 0;
}

#notes .note .open-note {
	display: none;
}

#notes .note.closed {
	color: #27666D;
	display: none;
}

#list.show-closed .note.closed {
	display: block;
}

#notes .note.closed .close-note {
	display: none;
}

#notes .note.closed .open-note {
	display: inline-block;
}